mixin video(video)
	a(href=`/videos/${video.id}`).video-mixin
		div.video-mixin__thumb(style=`background-image:url(${video.thumbUrl});background-size:cover;background-position:center;`)
		div.video-mixin__data
			span.video-mixin__title=video.title
			div.video-mixin__meta
				span #{video.owner.username || user.username}
				br
				span 조회수 #{video.meta.views}회 • 
				- const date = new Date();
				- const ago = new Date(date.getTime() - video.createdAt.getTime());
				- const yearsAgo = ago.getFullYear();
				- const monthsAgo = ago.getMonth();
				- const daysAgo = ago.getDate();
				- const hoursAgo = ago.getHours();
				- const minutesAgo = ago.getMinutes();
				- const secondsAgo = ago.getSeconds();
				if yearsAgo != 1970
					span.video-createdTime #{yearsAgo}년 전
				else if monthsAgo != 0
					span.video-createdTime #{monthsAgo}개월 전
				else if daysAgo != 0
					span.video-createdTime #{daysAgo}일 전
				else if hoursAgo != 0
					span.video-createdTime #{hoursAgo}시간 전
				else if minutesAgo != 0
					span.video-createdTime #{minutesAgo}분 전
				else
					span.video-createdTime #{secondsAgo}초 전